html{
    overflow: hidden;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(236,244,229);
    overflow-x: hidden;
    font-family: "nunito";
}

#splash{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: rgb(34,42,53);
    z-index: 1;
}

#splash-logo{
    width: 4%;
    position: fixed;
    left: 47%;
    top: 40%;
    z-index: inherit;
    filter: drop-shadow(0px 0px 20px black);
}

.popanim{
    animation: popup 0.8s infinite linear;
}

@keyframes popup{
    0% {
        transform: rotate( 0deg ) scale( 1 );
    }
    10% {
        transform: rotate( 15deg ) scale( 1 );
    }
    50% {
        transform: rotate( -180deg ) scale( 1.4 );
    }
    80%,100% {
        transform: rotate( -360deg ) scale( 1 );
    }
}

#coverpage-shadow{
    display: block;
    position: absolute;
    margin-top: -2%;
    width: 103%;
}

#coverpage-shadow-mob{
    display:none;
}

#coverpage-logo{
    margin-top: 2%;
    margin-left: 3%;
    width: 4%;
}

#coverpage-art{
    width: 95%;
}

@font-face{
    font-family: "playfair";
    src: url(../fonts/PlayfairDisplay-Regular.woff);
}

@font-face{
    font-family: "nunito";
    src: url(../fonts/Nunito-Regular.woff);
}

@font-face{
    font-family: "modern no.20";
    src: url(../fonts/MOD20.woff);
}

#info-text{
    font-size: 1em;

}

.info-text-white {
    color: white !important;
}

.coverpage-row{
    min-height: 72vh;
}

#coverpage-txt{
    padding-left: 8%;
    padding-top: 5%;
    color: rgb(64,64,64);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#coverpage-intro span{
    color: rgb(32,32,32);
}

#coverpage-intro{
    font-family: "playfair";
    font-size: 2.3em;
    z-index: 2;
}

#coverpage-list{
    font-size: 1.2em;
    margin-right: 75%;
}

ul{
    list-style-type: none;
}

#coverpage-list a{
    text-decoration: none;
    color: rgb(64,64,64);
}

#coverpage-list li span{
    content: '';
    height: 1px;
    width: 2em;
    background-color: black;
    position: absolute;
    margin: 2% 0 0 -7%;
}

#coverpage-list li::before{
    content: '';
    height: 2px;
    width: 0em;
    background-color: black;
    position: absolute;
    margin: 0.75em 0 0 0;
}

#coverpage-list li.active::before{
    width: 3.5em;
}

#coverpage-list li:hover::before{
    animation: focusbar 0.25s forwards;
}

@keyframes focusbar{
    100% { width: 3.5em; }
}

#about{
    width: 100%;
    display: flex;
    background-image: linear-gradient(120deg, #e0c3fc88 0%, #8ec5fc88 100%);
    margin-top: 8%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    z-index: 1;
    min-height: 40vh;
    align-items: center;
    padding: 0% 20%;
}

#about p{
    margin: 0;
}

.skills{
    width: 80%;
    margin: 12% 0% 10% 10%;
}

#skill-title{
    font-size: 3.3em;
    display: block;
    text-align: center;
}

.spandot {
    color: rgb(46,117,182);
}

#skill-list{
    height: 30em;
}

.skill-item{
    display: block;
    position: absolute
}

.skill-item::before{
    content: '';
    display: block;
    position: absolute;
    width: 110%;
    height: 20%;
    top: 50%;
    left: -5%;
    opacity: 0.4;
    z-index: -1;
}

.clr-g::before{    background-color: green;     }

.clr-r::before{    background-color: red;       }

.clr-b::before{    background-color: blue;     }

.size-8{    font-size: 2.8em;   }

.size-6{    font-size: 2.2em;   }

.size-4{    font-size: 1.6em;   }

#ht{
    left: 10%;
    top: 20%;
}
#uu{
    left: 25%;
    top: 30%;
}
#ph{
    left: 25%;
    top: 55%;
}
#jq{
    left: 30%;
    top: 80%;
}
#pt{
    left: 0%;
    top: 50%;
}
#ej{
    left: 7%;
    top: 75%;
}
#nj{
    left: 85%;
    top: 52%;
}
#ad{
    left: 45%;
    top: 40%;
}
#wp{
    left: 55%;
    top: 55%;
}
#ft{
    left: 45%;
    top: 70%;
}
#ms{
    left: 60%;
    top: 85%;
}
#js{
    left: 80%;
    top: 70%;
}
#cs{
    left: 90%;
    top: 20%;
}
#jv{
    left: 70%;
    top: 30%;
}

.projects{
    background-color: rgb(34,42,53);
    color: white;
}

.project-title-col {
    background-image: linear-gradient(to bottom, #505285 0%, #65689f 25%, #b5aee400 100%);
}

.project-row{
    margin: 0% 2% 0% 2%;
    min-height: 100vh;
    align-content: center;
}

#project-title{
    writing-mode: vertical-lr;
    display: block;
    font-size: 3.3em;
    margin-left: 10px;
    margin-top: 150%;
    text-align: center;
}

.projectitem-title{
    font-size: 2.3em;
    font-family: "modern no. 20";
    padding-bottom: 5vh;
}

.projectitem-body{
    font-size: 1em;
    padding-right: 3em;
    display: flex;
    flex-direction: column;
}

.projectitem-body a {
    color: lightseagreen !important;
}

.projectitem-img{
    width: 100%;
    margin-top: 10%;
}

.project-tech-p {
    padding-top: 5vh;
}

.project-links-p {  
    padding-top: 5vh;
} 

.projects-divid {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    min-height: 1px;
    margin-left: -15px;
}

.workd{
    margin-top: 5%;
    margin-left: 10%;
}

.workd-title{
    font-size: 2.3em;
}

.workd-body{
    margin-top: 2%;
}

.workd-item{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border: 3px solid black;
    padding: 3px;
    background-color: white;
    width: 8em;
}

.contacts{
    margin-top: 5%;
    color: white;
    background-color: rgb(34,42,53);
    padding: 3% 10% 3% 10%;
}

#btm-logo{
    height: 50%;
    margin-left: 36%;
    position: absolute;
    margin-top: 12%;
}

.contacts .git{
    font-size: 2.3em;
    padding: 0 0 0 2%;
}

.contacts .info .row{
    text-align: end;
    display: block;
    margin: 15px 0%;
}

.btm-icon{
    width: 75%;
}

.contact-icons {
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 600px){
    
body {
    width: 100vw;
}

#info-text {
    font-size: 1.1rem;
}

.coverpage-row {
    min-height: 85vh;
}

#coverpage-art{
    position: absolute;
    right: 10%;
    width: 75%;
    display: block;
    margin-top: -50vh;
}

#splash-logo{
    width: 20%;
    left: 40%;
}

#coverpage-shadow{
    display: none;
}

#coverpage-shadow-mob{
    display: block;
    position: absolute;
    margin-top: -2%;
    height: 90%;
    margin-left: -5%;
}

#coverpage-logo{
    margin-top: 5%;
    margin-left: 5%;
    width: 7%;
}

#coverpage-intro{
    font-size: 1.3em;
    margin-top: 10vh;
}

#coverpage-list{
    font-size: 1em;
    margin-top: 45vh;
}

#coverpage-list li:hover::before{
    animation: unset;
}

#coverpage-list li span {
    margin: 3% 0 0 -10%;
}

#about {
    width: 100%;
    font-size: 1.1em;
    margin: 15% 0% 15% 0%;
    padding: 5% 10%;
    min-height: 50vh;
}

.skills{
    margin: 13% 7% 18% 7%;
}

.skills > div {
    margin-left: 3%;
}

#skill-title {
    font-size: 2.5em;
    margin-bottom: 30vh;
}

#skill-list {
    height: 35rem;
    width: 100vw;
}

.size-8{    font-size: 2em;   }

.size-6{    font-size: 1.5em;   }

.size-4{    font-size: 1em;   }

#ht{
    left: 5%;
    top: 12%;
}
#uu{
    left: 0%;
    top: 22%;
}
#ph{
    left: 9%;
    top: 56%;
}
#jq{
    left: 30%;
    top: 78%;
}
#pt{
    left: 0%;
    top: 40%;
}
#ej{
    left: 7%;
    top: 73%;
}
#nj{
    left: 60%;
    top: 54%;
}
#ad{
    left: 45%;
    top: 35%;
}
#wp{
    left: 26%;
    top: 48%;
}
#ft{
    left: 35%;
    top: 65%;
}
#ms{
    left: 68%;
    top: 88%;
}
#js{
    left: 60%;
    top: 69%;
}
#cs{
    left: 80%;
    top: 16%;
}
#jv{
    left: 70%;
    top: 27%;
}

.project-title-col {
    background-image: linear-gradient(to right, #505285 0%, #65689f 25%, #b5aee4 100%);
}

#project-title {
    writing-mode: horizontal-tb;
    font-size: 2.5em;
    margin: 10% 6%;
    text-align: center;
}

.project-row {
    margin: 10% 2% 10% 0%;
}

.projectitem-title {
    font-size: 1.5em;
}

.projectitem-body {
    font-size: 0.8em;
    padding-right: 0;
}

.projectitem-img{
    width: 75%;
    margin: 1em 0em;
    margin-left: 21%;
}

.pt-e{
    padding: 0 15px;
}

.projectitem-3-img{
    width: 45%;
}

.pi-2{
    margin: -45% 0 0 55%;
}

.workd-item {
    width: 70%;
    box-shadow: 0px 0px 10px 1px #888c;
    border: 2px solid black;
    background: white;
}

.workd {
    margin-top: 7%;
    margin-left: 7%;
}

.workd > div {
    padding: unset;
}

.workd-title{
    font-size: 1.5em;
    display: block;
    margin: 6% auto;
}

.workd-body {
    margin: 5% auto;
}

.workd-title .col-1 {
    padding: 0;
    max-width: 50vw;
}

.workd-body .col-3 {
    padding: 0;
    margin-right: -5px;
}

.contacts {
    margin-top: 10%;
    padding: 8% 10% 5% 10%;
}

.contacts .git {
    font-size: 1.5em;
}

.contacts .logo{
    position: unset;
}

.contacts .info{
    font-size: .8em;
    margin-top: 4%;
}

#btm-logo {
    height: 6%;
    margin-left: 0px;
    margin-top: 66px;
}

.btm-icon {
    width: 35%;
    position: absolute;
    margin-top: 10%;
}

}
